body{
    background-color: lightblue;
}
.gallery{
    height: 80vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-gap: 10px;
}
.galleryImage{
    max-height:100px;
    cursor: pointer;
}
.canvas-container{
    background-color: lightgoldenrodyellow;
    padding: 10px;
}
.my-canvas {
    margin: 20px auto;
    border: 1px solid blue;
    display: block;
}